{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('build/tournament.css') }}"/>
    <div class="row list_of_participant">
        <div class="col-md-6">
            <h2>Список учасників турніру:</h2>
            <ul>
                {% for participant in participants %}
                    {% set delete_form = del_form.createView %}
                    <li>
                        {{ participant.participantOrder }}
                        {{ form_start(delete_form) }}
                        {{ form_row(delete_form.id, { 'label': participant.player, 'value': participant.id, 'attr': {'class': 'hidden'} }) }}
                        {{ form_end(delete_form) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Список гравців:</h2>

            {{ form_start(form) }}

            {{ form_end(form) }}

        </div>
        <script src="{{ asset('build/tournament.js') }}"></script>
    </div>

{% endblock content %}

