{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content %}
    <div class="container">
        <h4>{{ tournament.title }}</h4>
        <p>0 - чорні виграли, 1 - нічия, 2 - білі виграли</p>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <td> №</td>
                <td>{{ 'Last name'|trans }}</td>
                {% for participant in participants %}
                    <td>{{ participant.participantOrder }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for participant_one in participants %}
                <tr>
                    <td>{{ participant_one.participantOrder }}</td>
                    <td>{{ participant_one.player.lastName }}</td>

                    {% for participant_two in participants %}
                        <td>
                            {% if participant_one == participant_two %}
                                -
                            {% else %}

                                <a class="roundResultShowButton">
                                    <i class="fa fa-pencil"
                                       data-modal-target="{{ path('set_round_result',{'participantOneId':participant_one.id,'participantTwoId':participant_two.id}) }}"
                                    ></i>
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="setRoundResultModal" tabindex="-1" role="dialog"
             aria-labelledby="setRoundResultLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"
                            id="setRoundResultLabel">{{ 'Round result'|trans }}</h4>
                    </div>
                    <div class="modal-body" id="modalBody">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('easyadmin/js/round_system.js') }}"></script>
{% endblock %}