{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('build/tournament.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <div class="row list_of_participant">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <table>
                <tr>
                    <td>Місце</td>
                    <td>Прізвище та ім'я</td>
                    <td>Дата народження</td>
                    <td>Місто</td>
                    <td>Федерація</td>
                    <td>Рейтинг</td>
                    <td>Звання</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            {% for participant in participants %}
                <tr>
                    <td>
                        {{ participant.participantOrder }}
                    </td>
                    <td>
                        {{ participant.player.firstName }}
                        {{ participant.player.lastName }}
                    </td>
                    <td>
                        {{ participant.player.birthDate|date }}
                    </td>
                    <td>
                        {{ participant.player.city }}
                    </td>
                    <td>
                        {{ participant.player.federation }}
                    </td>
                    <td>
                        1237
                    </td>
                    <td>
                        grs
                    </td>
                    <td>
                        <span>12/9</span>
                        <p data-toggle="modal" data-target="#exampleModal" class="fas fa-edit"></p>
                    </td>
                    <td>
                        <span>12/9</span>
                        <p data-toggle="modal" data-target="#exampleModal" class="fas fa-edit">
                        </p>
                    </td>
                    <td>
                        <span>12/9</span>
                        <p data-toggle="modal" data-target="#exampleModal" class="fas fa-edit">
                        </p>
                    </td>
                    <td>
                        <span>12/9</span>
                        <p data-toggle="modal" data-target="#exampleModal" class="fas fa-edit">
                        </p>
                    </td>
                    <td>
                        <span>12/9</span>
                        <p data-toggle="modal" data-target="#exampleModal" class="fas fa-edit">
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello !!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

