{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content %}
    {% block head_stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('build/tournament.css') }}">
    {% endblock %}

    <div class="row list_of_participant">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <table>
                <tr>
                    <td>Гравець чорними</td>
                    <td>Гравець білими</td>
                    <td>Результат</td>
                </tr>
                {% set i = 0 %}
                {% for participant in participants %}
                    <tr>
                        <td>
                            {{ participant.black_participant.player.firstName }}
                            {{ participant.black_participant.player.lastName }}
                        </td>
                        <td>
                            {{ participant.white_participant.player.firstName }}
                            {{ participant.white_participant.player.lastName }}
                        </td>
                        <td>
                            <span>{{ participant.result }}</span>
                            {% set i = i + 1 %}
                            <p data-toggle="modal" data-target="#exampleModal{{ i }}" class="fa fa-edit"></p>

                            <div class="modal fade"  tabindex="-1" id="exampleModal{{ i }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% set result_form = form.createView %}
                                            {{ form_start(result_form) }}
                                            {{ form_row(result_form.round, {'label': ' ', 'value': participant.white_participant.id, 'attr': {'class': 'hidden'} }) }}
                                            {{ form_end(result_form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}

