{% extends 'base.html.twig' %}

{% block main_content %}

    {% macro render_item(statusSlug, title) %}
        {% set is_active = app.request.get('statusSlug', 'all') ==  statusSlug %}

        <a class="btn btn-outline-primary {% if is_active %} active {% endif %}"
           href="{{ path('show_tournaments',{'statusSlug':statusSlug}) }}">
            <span> {{ title }}</span>
        </a>
    {% endmacro %}

    {% import _self as this %}

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {{ this.render_item('all', 'All'|trans) }}
        {{ this.render_item('planned', 'New'|trans) }}
        {{ this.render_item('in_progress', 'Current'|trans) }}
        {{ this.render_item('completed', 'Completed'|trans) }}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                {{ 'Id'|trans }}
            </th>
            <th scope="col">
                {{ 'Title'|trans }}
            </th>
            <th scope="col">
                {{ 'Description'|trans }}
            <th scope="col">
                {{ 'Start'|trans }}
            </th>
            <th scope="col">
                {{ 'End'|trans }}
            </th>
            <th scope="col">
                {{ 'Place'|trans }}
            </th>
            <th scope="col">
                {{ 'Place GpsX'|trans }}
            </th>
            <th scope="col">
                {{ 'Place GpsY'|trans }}
            </th>
            <th scope="col">
                {{ 'Pairing system'|trans }}
            </th>
            <th scope="col">
                {{ 'Number of rounds'|trans }}
            </th>
            <th scope="col">
                {{ 'Status'|trans }}
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments_pager.currentPageResults %}
            {{ include('tournament/show.html.twig', {'tournament':tournament}) }}
        {% endfor %}
        <tr>
            {% if tournaments_pager.nbPages > 1 %}
                <td class="pagerfanta m-auto pt-1 pb-0 px-2" colspan="11">
                    {{ pagerfanta(tournaments_pager, 'twitter_bootstrap3') }}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock main_content %}
